body{
    background-color: #F6ECD9;
    overflow-x: hidden;
    top: 0;
}


header{
    height: 100px;
    background-color: #4C2F22;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
}

#logo{
    width:100px;
    height: 100px; 
    position: absolute;
    top: 0px;
    left: 0px;
}

#menu{
    font-size:20px;
    position: absolute;
    top:10px;
    left: 590px;
    color:#F6ECD9;
}


.info{
    position: absolute;
    top:10px;
    right: 50px;
    color:#F6ECD9;
}
.container{
    
    background-image: url(bgimage.jpeg);
    
    position:relative;
    left:35%;
    top: 100px;
    width: 400px;
    height: 500px;;
    display: block;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    
}
.promt{
    font-family: Trebuchet MS sans-serif;
    color: #F6ECD9;
    font-size: 24px;
    position: relative;
    left:40px;
    padding-top: -7px;
}
.fa{
    color: white;
    position: relative;
    left: 40px;
    padding-bottom: -10px;
}
.fa-star{
    margin-top: -100px;
    
}
.checked {
  color:#ffdd99 ;
}


button{
    width: 100px;
    height: 25px;
    background-color: beige;
    border:none;
    align-self:center;
    border-radius: 10px;
    position: relative;
    top:30px;
}

#text{
    position: relative;
    top:500px;
    text-align: center;
    color: #4C2F22;
    
}